

/* ===============================
   LAYOUT UTAMA & HEADER
================================ */
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  margin-bottom: 15px;
  padding-right: 20px;
}

/* Judul Kiri */
.brand-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-left: 5px;
}

/* Profil Admin */
.profile-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-name {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  background-color: #3B82F6;
  color: white;
  font-weight: 600;
  font-size: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Garis Biru */
.header-line {
  border: 0;
  border-top: 1px solid #4a81ca;
  margin: 10px 0 30px 0;
  opacity: 1;
}


/* ===============================
   FORM EDIT JADWAL
================================ */
.form-box {
  background: white;
  padding: 25px 30px;
  border-radius: 12px;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Label */
.form-box label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Input Select */
.form-box input,
.form-box select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 18px;
  outline: none;
  margin-left: -10px;
}

.form-box input:focus,
.form-box select:focus {
  border-color: #3B82F6;
  box-shadow: 0 0 4px rgba(59,130,246,0.35);
}


/* ===============================
   BUTTON
================================ */
.btn-save {
  background-color: #3B82F6;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn-save:hover {
  background-color: #1d5ed8;
}

.btn-cancel {
  background-color: #888;
  padding: 10px 25px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 600;
}

.btn-cancel:hover {
  background-color: #555;
}

.btn-group {
  margin-top: 10px;
  text-align: center;
}


/* ===============================
   FOOTER
================================ */
.footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  width: calc(100% - 260px);
  text-align: center;
  padding: 12px 0;
  box-shadow: 0 -3px 10px rgba(0,0,0,0.1);
  color: #189ba4;
  background: #fff;
}


/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 900px) {
  .form-box {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .form-box {
    width: 95%;
  }
}
.content h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0 10px 5px;
  color: #004aad;
}

